@use "../utils/mixins" as mixin;

.how {
  &__title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 50px;
  }
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    align-self: stretch;
  }
}

@media (max-width: 1023px) {
  .how {
    &__title{
      @include mixin.fluid-prop(font-size, 32px, 40px, 360px, 1023px);
    }
    &__content {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

@media (max-width: 576px) {
  .how {
    &__content {
      gap: 10px;
    }
  }
}